body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
  color: #002B5B;
}

.container {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  position: relative;
}

.header h2 {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin: 0;
  font-weight: bold;
  padding-top: 20px;
  margin-top: 45px;
}

.highlight-bar {
  width: 4px;
  height: 30px;
  background-color: #D4AF37;
  margin-right: 10px;
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  position: relative;
  z-index: 2;
}

.btn {
  font-size: 14px;
  padding: 8px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.new-loan {
  background-color: #002B5B;
  color: #f0f0f0;
}

.new-loan:hover {
  background-color: #003c7c;
}

.register {
  background-color: #fff;
  border: 3px solid #D4AF37;
  color: #002B5B;
  margin-right: 30px;
}

.register:hover {
  background-color: #fef9e7;
}

.profile-pic {
  width: 100px;      
  height: 100px;
  border-radius: 50%; 
  overflow: hidden;   
  border: 2px solid #002B5B; 
}

.profile-pic {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #002B5B;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.icon-group {
  position: absolute;
  top: 66px; 
  right: 0;
  display: flex;
  gap: 14px;
  font-size: 18px;
  color: #002B5B;
  cursor: pointer;
  z-index: 1;
  margin-right: 50px;
}

.table-container {
  background-color: transparent;
  padding: 10px 0;
  margin-top: 15px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 12px;
   margin-top: 15px;
}

thead th {
  text-align: left;
  font-weight: bold;
  padding: 10px;
  background-color: #f9f9f9;
  color: #002B5B;
}

tbody tr {
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.06);
  transition: background-color 0.2s ease;
}

tbody tr:hover {
  background-color: #f1f6ff;
}

tbody td {
  padding: 14px 10px;
  background-color: transparent;
  font-size: 14px;
  border-radius: 10px;
}
