<thead class="bg-white">
                    <tr class="grid grid-cols-2 sm:grid-cols-5 gap-4 py-3 border-b border-gray-200 text-sm sm:text-base">
                        <th class="font-semibold text-gray-650 text-left col-span-1 sm:col-span-1">Profile</th>
                        <th class="font-semibold text-gray-650 text-left hidden sm:block">Details</th>
                        <th class="font-semibold text-gray-650 text-left hidden sm:block">Status</th>
                        <th class="font-semibold text-gray-650 text-left hidden sm:block">Date</th>
                        <th class="font-semibold text-gray-650 text-left hidden sm:block">Total</th>
                    </tr>
                </thead>