@using Microsoft.AspNetCore.Identity
@using Pawn_Vault___OOP.Areas.Identity.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{

    <li class="list-none w-full">
        <form class="form-inline w-full" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="w-full text-left text-sm transition bg-transparent hover:text-[#d4af37] hover:shadow rounded-tl-xl rounded-bl-xl py-2 flex items-center gap-2">
                <i class="hgi hgi-stroke hgi-logout-02"></i>
                <span>Logout</span>
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}

